@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
.home{
  min-height: 100vh;
  background: #120e0f url(./img/bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 40px 100px;
  display: flex;
  align-items: center;
  transition: background 1.0s .1s;
}
.homeContent.active,.profileContent.active,.historyContent.active,.contactContent.active{
  display: block;
}
.homeContent,.profileContent,.historyContent,.contactContent{
  display: none;
  color: #fff;
}
.underline_before{
  position: relative;
  background: linear-gradient(#e84bb1, #e531ca) 0 100% / 0 2px no-repeat;
  transition: background 0s;
  text-decoration: none;
  transform: translateY(-50px);
}
.underline_after {
  background-size: 100% 3px;
  transition: background 1s;
}
header{
  position: absolute;
  top: 40px;
  display: flex;
  align-items: center;
}
.logo img{
  max-width: 120px;
}
.toggle{
  position: relative;
  width: 50px;
  height: 50px;
  background: #fff;
  margin-right: 20px;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle::before{
  content: '';
  position: absolute;
  width: 28px;
  height: 3px;
  background: #120e0f;
  transform: translateY(-6px);
  transition: 0.5s;
}
.toggle.active::before{
  transform: translateY(0) rotate(45deg);
}
.toggle::after{
  content: '';
  position: absolute;
  width: 28px;
  height: 3px;
  background: #120e0f;
  transform: translateY(6px);
  transition: 0.5s;
}
.toggle.active::after{
  transform: translateY(0) rotate(-45deg);
}
.navigation{
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #120e0f url(menuBg.jpg);
  background-position: right;
  background-size: cover;
  display: none;
  padding-right: 100px;
}
.navigation.active{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.navigation li{
  list-style: none;
  margin: 4px 0;
}
.navigation li a{
  color: #fff;
  font-size: 2em;
  letter-spacing: 0.05em;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
}
.navigation li a:hover{
    color: #e83c80;
}
.content{
  position: relative;
  max-width: 700px;
}
.content .textimg{
  max-width: 600px;
  width: 100%;
}
.watchTrailler{
  color: #fff;
  position: absolute;
  left: -500px;
  transition: all 0.5s;
}
.content p{
  color: #fff;
  font-size: 1.2em;
  line-height: 1.75em;
  font-weight: 300;
}
.btn{
  position: relative;
  background: #e83c80;
  color: #fff;
  padding: 10px 18px;
  display: inline-flex;
  margin-top: 20px;
  font-size: 1.1em;
  font-weight: 400;
  text-decoration: none;
  align-items: center;
}
.btn:hover{
  color: #120e0f;
  background: #fff;
}
.btn ion-icon{
  font-size: 2em;
  margin-right: 5px;
}
.clip{
  position: absolute;
  right: 100px;
  bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.clip .clipBox{
  position: relative;
  width: 300px;
  height: 200px;
  border: 8px solid #fff;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #e83c80;
  display: flex;
}
.clip .clipBox img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.clip .clipBox:hover img{
  opacity: 0.4;
}
.clip .clipBox ion-icon{
  font-size: 4em;
  color: #fff;
}
.socialIcon{
  position: absolute;
  bottom: 10px;
  left: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.socialIcon li{
  list-style: none;
}
.socialIcon li a{
  font-size: 2em;
  color: #fff;
}
.socialIcon li i{
  position: relative;
  bottom: 3px;
}
.socialIcon li a:hover{
  color: #e83c80;
}
.youtube {
  position: relative;
  width: 100%;
}
.youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
/* profileContent */
.myface{
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.myface img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: all 0.5s;
}
.myface img:hover{
  transform: rotate(-45deg);
}
.profileContent .content p{
  text-align: center;
  margin-bottom: 20px;
}
.profileContent a,.contactContent a{
  align-items: center;
  text-decoration: none;
  display: flex;
  color: #fff;
}
.profileContent .content a ion-icon{
  font-size: 2em;
  align-items: center;
}
.contactContent a:hover{
  color: #e531ca;
}

.map{
  position: absolute;
  right: 100px;
  bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  flex-direction: column;
  text-align: center;
  background: #fff;
  border-radius: 10px;
}
.map-content{
  border: 5px solid #fff;
  width: 500px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(252, 252, 252, 0.15);
  margin: 0 auto;
}
.history{
  position: absolute;
  right: 50px;
  align-items: center;
  top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  gap: 20px;
  width: 750px;
}
.history img{
  width: 100%;
  height: 100vh;
}


/* Google Mapのiframe */
.map p{
  color: #000;
}
.map iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}
.contact{
  position: absolute;
  right: 300px;
  bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  flex-direction: column;
  /* text-align: center; */
  background: #fff;
  border-radius: 10px;
  /* min-width: 600px; */
}
/*  */
.Form {
  margin:20px 80px;
  max-width: 720px;
}
@media screen and (max-width: 480px) {
  .Form {
    margin-top: 40px;
  }
}
.Form-Item {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}
.Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}
.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-size: 18px;
  color: #4b4b4b;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}
.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}
.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #df2fad;
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}
.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #df2fad;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
.Form-Btn:hover{
  opacity: 0.7;
}
@media screen and (max-width: 480px) {
  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}

.box{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
    width: 350px;
    display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  background-color: #b9c7da;
  box-shadow: -1px -1px 5px 0px rgba(255, 255, 255, 0.5), 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}
.box:before{
    border-radius: 5px;
    content: '';
    background: #000;
    opacity: 0;
    transform: scale(0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.4s ease-in-out;
}
.box:hover{
  box-shadow: none;
}
.box:hover:before{
  opacity: 0.9;
  transform: scale(1);
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.box img{
  width: 100%;
  height: auto;
  vertical-align:top;
}
.box .box-content{
  width: 100%;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  position: absolute;
  left: 0;
  padding: 0 25px;
  transition: all 0.5s ease 0s;
}
.box .box-content a{
  text-decoration: none;
}

.box:hover .box-content{ 
  opacity: 1;
  transform: translateY(0); 
}
.box .title{
  color: #df2fad;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.box .title:hover{
  color: yellow;
}
.box .post{
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.box .icon{
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  transform: translateX(-50%) translateY(-50px);
  position: absolute;
  left: 50%;
  bottom: 30px;
  transition: all 0.5s ease 0s;
}
.box:hover .icon{ 
  opacity: 1;
  transform: translateX(-50%) translateY(0); 
}
.box .icon li{
  margin: 0 4px;
  display: inline-block;
}
.box .icon li a{
  color: #fff;
  font-size: 16px;
  line-height: 34px;
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: block;
  transition:all 0.3s ease 0s;
}
.box .icon li a:hover{
  color: #f92f2f;
  background: #fff;
  transform: rotate(360deg);
}
@media(max-width:990px){
  .box{ margin: 0 0 30px; }
}
@media (max-width:660px){
  .history{
    flex-direction: column;
  }
}
@media (max-width:1500px){
  .box{
    width: 200px;
  }
  .history{
    position: relative;
    right: initial;
    bottom: initial;
    margin: 40px 0;
    width: 100%;
  }
  .historyContent .content{
    margin-top: 150px;
  }
  .history{
    font-size: 9px;
    line-height: 1.3;
  } */
  .socialIcon{
    position: relative;
    bottom: initial;
    left: 30px;
  }
  .contact{
    right: 50px;
  }
}
@media (max-width:1300px){
  .content .textimg {
    max-width: 400px;
  }
}
@media (max-width:1100px){
  .home{
    padding: 18px;
    flex-direction: column;
    align-items: flex-start;
  }
  .content{
    margin-top: 150px;
  }
  .clip{
    position: relative;
    right: initial;
    bottom: initial;
    margin: 40px 0;
  }
  .socialIcon{
    position: relative;
    bottom: initial;
    left: initial;
  }
  .navigation{
    padding-right: 40px;
  }
  .map{
    position: relative;
    right: initial;
    bottom: initial;
    margin: 40px 0;
  }
  .contact{
    position: relative;
    right: initial;
    bottom: initial;
    margin: 40px 0;
  }
  .map-content{
    width: 100%;
    height: 300px;
  }
  .history{
    position: relative;
    right: initial;
    bottom: initial;
    margin: 57px 0;
    width: 100%;
  }
  .history .box{
    width: 300px;
    height: 200px;
  }
  .Form{
    margin: 20px 10px;
  }
}